<body>
  <div class="container p-4 movie-container" id="movie-container">
    <div class="row">
      {{#if links.length}}
      {{#each links}}
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-content center-align">
            <a href="{{url}}" target="_blank">
              <h3 class="card-title text-uppercase">
                {{MOV_CTITLE}}
              </h3>
            </a>
            <p class="m-2">{{MOV_CDIRECTOR}}</p>
            <p class="m-2">{{MOV_CYEAR}}</p>
            <p class="m-2">{{MOV_CDESCRIPTION}}</p>
            <p class="m-2">{{ratingStars MOV_CRATING}}</p>
            <p class="text-muted">
              {{timeago MOV_CFECHA_REGISTRO}}
            </p>
            <p class="m-2">
              <button class="toggleSeenButton interactive-icon waves-effect waves-light btn-flat"
                data-status="{{MOV_CSEEN}}" data-movie-id="{{PKMOV_NCODIGO}}">
                {{{seenIcon MOV_CSEEN}}}
              </button>
            </p>
            <p class="m-2">
              ‎
            </p>
            <a class="waves-effect waves-light btn red delete-movie-btn" data-movie-id="{{PKMOV_NCODIGO}}">
              Delete Movie
            </a>
            <a class="waves-effect waves-light btn" href="/links/edit/{{PKMOV_NCODIGO}}">
              Edit
            </a>
          </div>
        </div>
      </div>
      {{/each}}
      {{else}}
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-content center-align">
            <p>There are no movies saved yet.</p>
            <a class="waves-effect waves-light btn" href="/links/add">Add One!</a>
          </div>
        </div>
      </div>
      {{/if}}
    </div>
  </div>
</body>